{% extends 'base.html.twig' %}

{% block body %}
	<div class="container mt-5">
		<h1>{{eleve.prenom}}
			{{eleve.nom}}</h1>
            <p>Né le : {{eleve.dateDeNaissance|date('m/d/Y')}}</p>
            <p>Sa classe : {{eleve.classe.nom}} </p>
            <p>Matières suivies : {{eleve.matieres}}</p>
            
            <h3>Ses notes : </h3>
            <table class="table mt-5">
			<thead>
				<tr>
					<th scope="col">Matiere</th>
					<th scope="col">Note</th>
					<th scope="col">Coefficient</th>
					<th scope="col">Professeur(s)</th>
				</tr>
			</thead>
			<tbody>

				{% for note in eleve.notes %}
					<tr>
						<td>{{note.matiere}}</td>
						<td>{{note.note}}</td>
						<td>{{note.coefficient}}</td>
						<td>{{note.matiere.profsListe}}</td>
					</tr>
				{% endfor %}

			</tbody>
		</table>
	</div>
{% endblock %}
