{% extends 'base.html.twig' %}

{% block title %}Hello ClasseController!
{% endblock %}

{% block body %}
	<div class="container mt-5">
    <h1>Liste des élèves : </h1>
		<table class="table mt-5">
			<thead>
				<tr>
					<th scope="col">Prenom</th>
					<th scope="col">Nom</th>
					<th scope="col">Classe</th>
					<th scope="col">Actions</th>
				</tr>
			</thead>
			<tbody>

				{% for eleve in eleves %}
					<tr>
						<td>{{eleve.prenom}}</td>
						<td>{{eleve.nom}}</td>
						<td>{{eleve.classe.nom}} (niveau {{eleve.classe.niveau}})</td>
						<td>
						<a class="btn btn-danger" href="{{path('app_eleve_supprimer', {'id' : eleve.id})}}" onclick="return confirm('Voulez vous vraiment supprimer cet élève?')"><i class="fa fa-trash" aria-hidden="true"></i> Supprimer</a>
						</td>
					</tr>
				{% endfor %}

			</tbody>
		</table>
		<a href="{{path('app_eleve_ajouter')}}" class="btn btn-primary mt-5"><i class="fa-solid fa-plus"></i> Ajouter un élève</a>

	</div>


{% endblock %}
