<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{path('app_home')}}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{path('app_reglement_interieur')}}">Règlement intérieur</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{path('app_classe')}}">Les classes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{path('app_prof')}}">Les profs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{path('app_matiere')}}">Les matières</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{path('app_eleve')}}">Les élèves</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{path('app_contact')}}">Nous contacter</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{path('app_eleve_recherche')}}">Rechercher</a>
        </li>
      </ul>
    </div>
  </div>
</nav>